html {
  height: 100%;
  font-size: 10px;
}

body {
  padding: 3rem;
  box-sizing: border-box;
  background: $color-white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

img {
  display: inline-block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
