body {
  font-size: $font-size-default;
  font-family: Roboto, 'source-han-sans-simplified-c', 'Microsoft JhengHei',
    '-apple-system', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial,
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    margin-bottom: 1rem;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    text-indent: 1.8rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
  }
}
